---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Noviembre 2022 - Abril 2023",
    title: "Desarrollador de paginas web y diseñador - Concepto Diseño y publicidad",
    description:
      "Me dedique principalmente al desarrollo de paginas web de tipo carrito de compras, landing pages y publicidad para los clientes",
    stack: "React, Astro, MySQL, NodeJS, Boostrap, Tailwind, mongoDB"
  },
  {
    date: "Junio 2022 - Octubre 2022",
    title: "Proyecto de practicas de desarrollo web - NFF construcciones",
    description:
      "Responsable del desarrollo de la pagina web, componentes y utilidades del sitio web de la construcctora. ",
      stack: "React, firebaseDB, Boostrap, NodeJS, Express"
  },
  {
    date: "Diciembre 2021 - Abril 2022",
    title: "Proyecto de practicas de desarrollo web - TAXI YA / UPTC",
    description:
      "Proyecto académico desarrollado para la materia 'trabajo de campo' donde con la ayuda de la empresa 'taxi ya' se desarrolló una aplicación web donde se realizó el seguimiento de los documentos de circulación de taxis y gestión de turnos. Este proyecto se desarrolló con un grupo de 6 estudiantes más, un ingeniero de la empresa y la tutoría de un ingeniero de la universidad. ",
      stack: "Handlebars, Express, MongoDB, Boostrap"
  },
  {
    date: "Marzo 2021 - Diciembre 2021",
    title: "Proyecto / Bootcamp gubernamental de desarrollo web - MIN TIC / UdeA",
    description:
      "Programa de pasantías intensivo e inmersivo del ministerio TIC de Colombia. Un programa de 9 meses completamente basado en aprendizaje y desafíos.El programa se centró en la creación de diferentes grupos donde cada uno de estos contaba con un tutor y clases que iban desde lo más básico de programación hasta el desarrollo de una aplicación donde se utilizarían diferentes tecnologías de desarrollo web y metodologías de desarrollo ágil, en este caso Scrum",
      stack: "React, JAVA, Python, JavaScript, TypeScript, SCRUM, MySQL, Firebase, NodeJS, Express"
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
